{% extends "brandon_design/base.html" %}
{% load tethys_gizmos %}

{% block header_buttons %}
  <div class="header-button glyphicon-button" data-toggle="tooltip" data-placement="bottom" title="Help">
    <a data-toggle="modal" data-target="#help-modal"><span class="glyphicon glyphicon-question-sign"></span></a>
  </div>
{% endblock %}

{% block app_content %}
  <h1>This is an example page!</h1>
  <h4>I made this so I could have an example to follow when making more pages:</h4>
  <p>Look at this picture of the aftermath of a tsunami that took place in Japan. Yikes!</p>
  <img src="../../../static/brandon_design/images/japan-tsunami.jpg">

{% endblock %}

{# Use the after_app_content block for modals #}
{% block after_app_content %}
{% endblock %}

{% block app_actions %}
{% endblock %}